#displayed-canvas {
    border: 2px dashed #ccc;
    padding: 5px;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    cursor: crosshair;
}


.dropzone {
    margin: 20px 10px 10px 20px;
    text-align: left;
    flex: 1;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: background-color 0.2s;

}


.dropzone.drag-over {
  background-color: #e0f7fa;
  border-color: #00796b;
}

h2{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 5px;
    font-size: medium;

}

#board p {

    border: 2px solid black;
    margin: 20px;
    text-align: justify;
}

#board {
    display: flex;
}

.card{

    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px 1px rgb(128, 128, 128, 0.2);
    margin: 20px;
    border-radius: 5px;
    cursor: grab;
    }


#taskCreation{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}

#inputTask{
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    flex: 1;

}

