[submodule "Assignments/Lab07/react-advanced/Assignments/Lab05/simple-task-api"]
	path = Assignments/Lab07/react-advanced/Assignments/Lab05/simple-task-api
	url = https://github.com/FLipMts28/02.-MEEC.git
